body {
    height: 160px;
    width: 300px;
    background-image: linear-gradient(to right top, rgb(204, 85, 85),rgb(46, 46, 114));
    background-size: cover;
    background-position: center center;
}

.custom-clear-box {
    margin-right: 12.5%;

}